---
import MovieCardRandom from "../../components/global/MovieCardRandom.astro";
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
import { getID, get } from "../api/api";
const data = await getID(id);
const pelicula = data;




const { body } = await get('day', 'trending/');
const resultado = JSON.parse(body);

export async function getStaticPaths() {
  const categorias = [
    "popular",
    "now_playing",
    "top_rated",
    "upcoming",
    "day",
    "week",
  ];
  const claves = ["", "trending/"];
  const rutas = [];

  for (const category of categorias) {
    for (const clave of claves) {
      const { body } = await get(category, clave);
      if (body) {
        const resultado = JSON.parse(body);
     
        resultado.forEach((res) => {
          rutas.push({ params: { id: res.id.toString() } });
        });
      }
    }
  }
  return rutas;
}
---

<Layout title={data.title}>
  <section class="flex flex-col md:flex-row  justify-center py-28 font-bold gap-16">
    

    <article class="flex text-textPrimario max-w-5xl   flex-col gap-5 relative p-10" >
 
      <img
      src={`https://image.tmdb.org/t/p/w500${pelicula.backdrop_path}`}
      class=" h-full rounded-[1rem] object-cover z-[-1] absolute left-0 top-0 opacity-20"
    />
            <img
              src={`https://image.tmdb.org/t/p/w500${pelicula.poster_path}`}
              class="w-[18rem] h-[27rem] rounded-[.9rem] object-cover"
            />
  
            <h2 class="text-5xl">
              {pelicula.title}{" "}
            </h2>
  
            <div class="text-2xl flex flex-col">
              <span>{pelicula.release_date}</span>
              <div class="flex items-center gap-3">
                <span
                  >Popularidad: <span class="text-xl">{pelicula.popularity}</span></span>              
                <span class="h-[5rem] w-[5rem] rounded-full border-[6px] flex items-center justify-center right-5 border-textPrimario">
                  {parseInt(pelicula.vote_average)}%
                </span>
              </div>
  
              <span
                >Genero: <span class="text-xl "
                  >{pelicula.genres.map((genre) => genre.name).join(" - ")}</span
                ></span
              >
            </div>
            <p class="text-xl max-w-4xl">{pelicula.overview}</p>


    </article>
    <MovieCardRandom/>
  </section>
</Layout>
